.App {
  font-family: sans-serif;
  text-align: center;
}

.form-label {
  margin-top: 20px;
}

.input-style {
  margin-left: 10px;
}

.btn-submit {
  margin-bottom: 10px;
  background-color: blue;
  color: white;
  border-radius: 3px;
  padding: 8px;
}
